* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 17px;

  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  color: var(--text-color);
  transition: background-color 0.3s;
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
[color-scheme="light"] {
  --text-color: #213547;
  --background-color: #ffffff;
}

body {
  background-color: transparent;
}

a {
  color: dodgerblue;
  text-decoration: underline transparent;
  transition: 150ms;
}
a:hover {
  text-decoration-color: dodgerblue;
}